@media screen {
  .letter-page {
    width: 8.5in !important;
    height: 11in !important;
    background-color: white;
    padding: 0.25in;
    margin: 0;
  }
}

@media print {
  html,
  body {
    width: 8.5in;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  @page {
    size: letter;
    margin: 0.25in;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .letter-page {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
    // box-shadow: none !important;
    page-break-after: always !important;
    page-break-inside: avoid !important;
    break-after: page !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .letter-page > * {
    page-break-inside: avoid;
  }

  .letter-page:last-of-type {
    page-break-after: avoid !important;
    break-after: avoid !important;
  }

  #header,
  #nav,
  .noprint {
    display: none !important;
  }
}
