<div class="h-full flex flex-col">
  <!-- Print Button -->
  <div class="xs:w-full xs:flex xs:justify-end p-4 noprint">
    <button
      (click)="onPrint()"
      class="p-2 xs:p-4 bg-slate-700 rounded-xl flex justify-center items-center"
    >
      <!-- Print Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        [ngClass]="{
          'w-12 h-12': true,
          'xs:w-4 xs:h-4': true,
          'sm:w-6 sm:h-6': true,
          'md:w-8 md:h-8': true,
          'lg:w-10 lg:h-10': true,
          'xl:w-12 xl:h-12': true
        }"
        viewBox="0 -960 960 960"
        fill="#e8eaed"
      >
        <path
          d="M640-640v-120H320v120h-80v-200h480v200h-80Zm-480 80h640-640Zm560 100q17 0 28.5-11.5T760-500q0-17-11.5-28.5T720-540q-17 0-28.5 11.5T680-500q0 17 11.5 28.5T720-460Zm-80 260v-160H320v160h320Zm80 80H240v-160H80v-240q0-51 35-85.5t85-34.5h560q51 0 85.5 34.5T880-520v240H720v160Zm80-240v-160q0-17-11.5-28.5T760-560H200q-17 0-28.5 11.5T160-520v160h80v-80h480v80h80Z"
        />
      </svg>
    </button>
  </div>

  <!-- Pages -->
  <div class="pages-container grow pb-20">
    <app-letter-page class="shadow-2xl">
      <div class="flex justify-between h-full">
        <!-- Main content -->
        <div class="p-4 text-sm" style="width: 68%">
          <app-header></app-header>

          <!-- Work -->
          <app-info-block title="Employment History" icon="work">
            <!-- Universal Logistics developer -->
            <app-info-entry
              title="Full Stack Developer, DevOps Engineer"
              company="Universal Logistics Holdings"
              location="Warren, MI"
              commute="Onsite"
              [startDate]="DateTime.utc(2023, 6, 1)"
              image="assets/universal-logistics-logo.png"
            >
              <div class="flex gap-1">
                <div class="text-primary font-medium pr-2">Languages</div>
                <app-chip language="C#" [isSmall]="true"></app-chip>
                <app-chip language="TypeScript" [isSmall]="true"></app-chip>
                <app-chip language="SCSS"[isSmall]="true"></app-chip>
                <app-chip language="SQL" [isSmall]="true"></app-chip>
                <app-chip language="Shell" color="black" [isSmall]="true"></app-chip>
                <app-chip language="Shell" color="black" [isSmall]="true"></app-chip>
              </div>

              <div class="flex gap-1">
                <div class="text-primary font-medium pr-2">Frameworks</div>
                <app-chip language="C#" [isSmall]="true">ASP.Net</app-chip>
                <app-chip color="black" [isSmall]="true">Storybook</app-chip>
              </div>

              <ul class="list-disc">
                <li>
                  Develop, unit test, and maintain features across a C# ASP.net,
                  Angular, and SQL application stack for a logistics ERP web app
                </li>
                <li>
                  Automated SQL database migrations with a custom SQL change
                  tracker and a build pipeline
                </li>
                <li>
                  Architected and drove the teams transition to deploying with
                  docker containers
                </li>
              </ul>
            </app-info-entry>

            <!-- GM TRACK -->
            <app-info-entry
              title="TRACK Rotational Program"
              company="General Motors"
              location="Warren, MI"
              [startDate]="DateTime.utc(2022, 1, 1)"
              [endDate]="DateTime.utc(2023, 6, 1)"
              commute="Hybrid"
              image="assets/gm-logo.png"
            >
              <app-sub-entry
                title="Platform System Engineer"
                [startDate]="DateTime.utc(2023, 5, 1)"
                [endDate]="DateTime.utc(2023, 6, 1)"
              >
                <ul class="list-disc">
                  <li>Communicated and managed platform level goals</li>
                </ul>
              </app-sub-entry>

              <app-sub-entry
                title="Signal Validation Engineer"
                [startDate]="DateTime.utc(2023, 1, 1)"
                [endDate]="DateTime.utc(2023, 5, 1)"
              >
                <ul class="list-disc">
                  <li>
                    Architected, developed, and documented a validation and
                    reporting application for J2534 (CAN) signals.
                  </li>
                  <li>
                    Rigorously documented to ensure maintainability and
                    reliability.
                  </li>
                </ul>
              </app-sub-entry>

              <app-sub-entry
                title="Software Performance Test Engineer"
                [startDate]="DateTime.utc(2022, 6, 1)"
                [endDate]="DateTime.utc(2023, 1, 1)"
              >
                <ul class="list-disc">
                  <li>
                    Researched and integrated a platform-level performance
                    testing framework into the teams codebase and CI/CD
                    pipeline.
                  </li>
                  <li>
                    Ensured maintainability and reliability with documentation
                    and unit testing.
                  </li>
                </ul>
              </app-sub-entry>

              <app-sub-entry
                title="Assistant Technical Project Manager"
                [startDate]="DateTime.utc(2022, 1, 1)"
                [endDate]="DateTime.utc(2022, 6, 1)"
              >
                <ul class="list-disc">
                  <li>
                    Collaborated with teams across Ultra Cruise to analyze and
                    reported gaps in current and expected operational design
                    domains.
                  </li>
                </ul>
              </app-sub-entry>
            </app-info-entry>

            <!-- Senior Technologist -->
            <app-info-entry
              title="Senior Technologist"
              company="Mahle Filtering Systems"
              location="Troy, MI"
              [startDate]="DateTime.utc(2018, 9, 1)"
              [endDate]="DateTime.utc(2022, 1, 1)"
              commute="Hybrid"
              image="assets/mahle-logo.png"
            >
              <ul class="list-disc">
                <li>
                  Developed and maintained a automated testing for carbon
                  canisters.
                </li>
                <li>
                  Worked with management to automate, analyze, and report
                  employee key performance indicator (KPI) data.
                </li>
              </ul>
            </app-info-entry>
          </app-info-block>

          <!-- School -->
          <app-info-block title="Education" icon="school">
            <app-info-entry
              title="Bachelor of Computer Science"
              company="Oakland University"
              location="Auburn Hills, MI"
              [startDate]="DateTime.utc(2016, 9, 1)"
              [endDate]="DateTime.utc(2021, 4, 1)"
              commute="Onsite"
              image="assets/oakland-university-logo-and-bear.png"
            >
              Notable Classes: Algorithms, data structures, software
              engineering, and database management, artificial intelligence, and
              advanced system administration
            </app-info-entry>
          </app-info-block>
        </div>

        <!-- Side bar -->
        <div
          class="bg-gradient-to-b from-indigo-50 to-indigo-200 border-indigo-300 border-l-2 text-primary flex flex-col gap-3 p-4"
          style="width: 31%"
        >
          <!-- Info -->
          <div>
            <div class="font-medium mb-2">Info</div>
            <ul class="text-xs">
              <li>Fraser MI, 48026</li>
              <li>+1 (248) 882-7006</li>
              <li>
                <a href="mailto:kennethmead784@gmail.com" class="text-link">{{
                  "kennethmead784@gmail.com"
                }}</a>
              </li>
            </ul>
          </div>

          <!-- Links -->
          <div>
            <div class="font-medium mb-2">Links</div>
            <ul class="text-xs text-right">
              <li class="text-link">
                <span>
                  <a href="https://www.kennethmead.dev/" target="_blank"
                    >kennethmead.dev</a
                  >
                </span>
              </li>
              <li class="text-link">
                <a href="https://www.resume.kennethmead.dev/" target="_blank"
                  >resume.kennethmead.dev</a
                >
              </li>
              <li class="text-link">
                <a
                  href="https://www.color-slicer.kennethmead.dev/"
                  target="_blank"
                  >color-slicer.kennethmead.dev</a
                >
              </li>
              <li class="text-link">
                <a
                  href="https://www.bitbucket-dashboard.kennethmead.dev/"
                  target="_blank"
                  >bitbucket-dashboard.kennethmead.dev</a
                >
              </li>

              <li class="text-link">
                <a href="https://github.com/xerner" target="_blank"
                  >github.com/xerner</a
                >
              </li>
              <li class="text-link">
                <a href="www.linkedin.com/in/kennethmead784" target="_blank"
                  >linkedin.com/kennethmead784</a
                >
              </li>
            </ul>
          </div>

          <!-- Languages -->
          <div>
            <div class="font-medium mb-2">Languages</div>
            <div class="flex flex-wrap gap-x-1 gap-y-1">
              <app-chip language="TypeScript" version="v5.5"></app-chip>
              <app-chip language="JavaScript" color="black"></app-chip>
              <app-chip language="C#" version="v10"></app-chip>
              <app-chip language="Python" version="v3.11"></app-chip>
              <app-chip language="SQL"></app-chip>
              <app-chip language="C"></app-chip>
              <app-chip language="Java"></app-chip>
              <app-chip language="Shell" color="black"></app-chip>
              <app-chip language="SCSS"></app-chip>
            </div>
          </div>

          <!-- Frameworks -->
          <div>
            <div class="font-medium mb-2">Frameworks</div>
            <div class="flex flex-col gap-y-1 text-xs">
              <app-skill level="5">Angular 18</app-skill>
              <app-skill level="3">React 17</app-skill>
              <app-skill level="5">Storybook</app-skill>
              <app-skill level="5">.NET 8</app-skill>
              <app-skill level="4">ASP.NET 6</app-skill>
              <app-skill level="4">NUnit 4.1</app-skill>
              <app-skill level="3">SignalR 2.4</app-skill>
              <app-skill level="3">Entity Framework 6</app-skill>
            </div>
          </div>

          <!-- Software Skills -->
          <div>
            <div class="font-medium mb-2">Software Skills</div>
            <div class="flex flex-col gap-y-1 text-xs">
              <app-skill level="5">Git</app-skill>
              <app-skill level="5">Jira</app-skill>
              <app-skill level="5">Unity 2023</app-skill>
              <app-skill level="5">Microsoft Office</app-skill>
              <app-skill level="5">Model-View-Controller (MVC)</app-skill>
              <app-skill level="5">Microservices</app-skill>
              <app-skill level="4">GoCD (CI/CD)</app-skill>
              <app-skill level="3">Blender v3</app-skill>
              <app-skill level="3">Linux</app-skill>
            </div>
          </div>

          <!-- People Skills -->
          <div>
            <div class="font-medium mb-2">People Skills</div>
            <ul class="text-xs">
              <li>Communication</li>
              <li>Leadership</li>
              <li>Teamwork</li>
              <li>Problem Solving</li>
              <li>Time Management</li>
              <li>Adaptability</li>
            </ul>
          </div>

          <!-- Hobbies -->
          <div>
            <div class="font-medium mb-2">Hobbies</div>
            <ul class="text-xs">
              <li>Making Apps/Games</li>
              <li>3D Printing</li>
            </ul>
          </div>
        </div>
      </div>
    </app-letter-page>
  </div>
</div>
