@let jobs = dataService.filterJobs(occupation());
<app-occupation
  [occupation]="occupation()"
  [hasUnderline]="jobs.length > 0"
  [ngClass]="{
    'ml-3 text-sm': dataService.hasParent(occupation()),
    'flex flex-col gap-1': true,
  }"
>
  @if (occupation().url) {
  <a href="{{ occupation().url }}" target="_blank" class="text-link text-xs">{{
    occupation().url
  }}</a>
  }
  <!-- Jobs -->
  @if (jobs.length === 1) {
  <div class="text-xs whitespace-pre-line">{{ jobs[0].description }}</div>
  } @else if (jobs.length > 0) {
  <ul class="list-disc ml-4 text-xs leading-5">
    @for (job of jobs; track $index) {
    <li>{{ job.description }}</li>
    }
  </ul>
  }

  <!-- Skills -->
  <!-- <div
    [ngClass]="{
    'flex flex-col divide-y divide-slate-100 divide-dotted text-[0.66rem]': true,
  }"
  >
    <app-skills
      title="Languages"
      [skills]="
        dataService.getSkillsForOccupation(occupation, SkillType.Language)
      "
    ></app-skills>
    <app-skills
      title="Frameworks"
      [skills]="
        dataService.getSkillsForOccupation(occupation, SkillType.Framework)
      "
    ></app-skills>
    <app-skills
      title="Tools"
      [skills]="dataService.getSkillsForOccupation(occupation, SkillType.Tool)"
    ></app-skills>
    <app-skills
      title="Concepts"
      [skills]="
        dataService.getSkillsForOccupation(occupation, SkillType.Concept)
      "
    ></app-skills>
  </div> -->
</app-occupation>
