<div class="mb-3">
  <div class="flex justify-between items-center">
    <div class="text-lg font-medium">
      {{ info().title }}
    </div>
    @if (info().image) {
      <img class="h-6 w-auto" [src]="info().image" alt="Company Logo" />
    }
  </div>
  <div class="flex justify-between text-sm text-slate-500">
    <div>
      {{ info().company }}
    </div>
    <div>{{ info().commute }} &nbsp; | &nbsp; {{ info().location }}</div>
  </div>
  <div class="flex justify-between text-sm text-slate-500">
    <div>
      {{ info().startDate.toFormat(dateFormat) }} - @if (info().endDate == null) { Present
      } @else {
      {{ info().endDate!.toFormat(dateFormat) }}
      }
    </div>
  </div>
  <div>
    <ng-content />
  </div>
</div>
